node_modules
.env
.env.local
.env.production
.env.development
devnet.env
client/devnet.env
frontend/client/devnet.env
client/.env
client/.env.local
client/.env.production
client/.env.development
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Ignore all markdown files except README.md
*.md
!README.md